<h2><%= t('views.users.update') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('views.users.current_waiting_confirmation') %><%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('views.users.no_change_password') %>)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= t('views.users.min_password_length') %><%= @minimum_password_length %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('views.users.current_password_input') %>)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :profile %>
    <%= f.text_field :profile, autofocus: true, autocomplete: "profile" %>
  </div>

  <div class="field">
    <%= f.label :post_code %>
    <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="actions">
    <%= f.submit t('views.users.update') %>
  </div>
<% end %>

<h3><%= t('views.users.delete') %></h3>

<div><%= button_to t('views.users.delete'), registration_path(resource_name), data: { confirm: t('views.users.delete_confirm'), turbo_confirm: t('views.users.delete_confirm') }, method: :delete %></div>

<%= link_to t('views.users.back'), :back %>
