<ul>
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <div>
        <%= comment.user.name_or_email %>
        <%= comment.content %>
        <%= l comment.created_at, format: :short %>
        <% if comment.user == current_user %>
          <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), polymorphic_path([comment.commentable, comment]), { method: :delete, form: { data: { turbo_confirm: t('views.common.delete_confirm') } } } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div><%= t('views.common.no_existence', name: Comment.model_name.human.downcase) %></div>
  <% end %>
</ul>
