<h1><%= t('views.common.profile') %></h1>
<div>
      <div>
        <%= t('activerecord.attributes.user.profile') %>:
        <%= @user.profile %>
      </div>
      <div>
        <%= t('activerecord.attributes.user.address') %>:
        <%= @user.address %>
      </div>
      <div>
        <%= t('activerecord.attributes.user.post_code') %>:
        <%= @user.post_code %>
      </div>
    </div>
