<p style="color: green"><%= notice %></p>

<h1><%= t('views.books.index.title') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('views.books.show.link_text'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('views.books.new.link_text'), new_book_path %>
