<p><%= t('views.email.hello') %><%= @resource.email %>!</p>

<p><%= t('views.email.reset_password_instruction') %></p>

<p><%= link_to t('views.email.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('views.email.request_ignore_instruction') %></p>
<p><%= t('views.email.no_password_change_instruction') %></p>
