<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= format_content report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:user) %>:</strong>
    <%= link_to report.user.name_or_email, report.user %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:created_on) %>:</strong>
    <%= l report.created_on %>
  </p>

  <h3><%= t('views.common.mentioned_links') %></h3>

  <% report.mentioned_reports.each do |report| %>
    <div>
      <% if report.user.avatar.attached? %>
        <%= image_tag report.user.avatar.variant(:thumb) %>
      <% end %>
      <%= link_to report.title, report_path(report) %><%= t('views.common.mentioned_link') %>
      <%= report.created_on %>
    </div>
  <% end %>

</div>
