<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= format_content report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:user) %>:</strong>
    <%= link_to report.user.name_or_email, report.user %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:created_on) %>:</strong>
    <%= l report.created_on %>
  </p>

  <h3><%= t('views.common.mentioned_links') %></h3>

  <ul>
    <% report.mentioned_reports.order(created_at: :desc, id: :desc).each do |report| %>
      <li>
        <%= link_to report.title, report_path(report) %><%= t('views.common.mentioned_link') %>
        <%= l report.created_on %>
      </li>
    <% end %>
  </ul>

</div>
