<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <% if user_signed_in? %>
    <%= link_to t('views.users.logout'), destroy_user_session_path, method: :delete %>
    <%= link_to t('views.common.title_index', name: 'ユーザー'), users_path %>
    <%= link_to t('views.common.profile_edit'), edit_user_registration_path %>
    <%= link_to t('views.common.profile'), user_path(current_user) %>
  <% end %>

  <body class="<%= params[:action] %>">
    <%= yield %>
  </body>
</html>
